.staff-videos {
    background-color: #F7F7F8 !important;
}

.staffs-page .hero-section {
    position: relative;
    overflow: hidden;
    height: 60vh;
}

.staffs-page .hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
    filter: brightness(0.4);
}

.training-card {
    top: 229px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

@media (max-width: 767px) {
    .training-card {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 60px 70px;
        top: 300px;
    }

    .steps-box {
        display: none;
    }

    section.staff-videos {
        margin-top: 130px;
    }
}

.content {
    text-align: center;
}

.text-accent {
    color: #087fff;
    /* pick your brand accent color */
}

.video-card {
    height: 380px;
    position: relative;
}

.video-card h6 {
    color: white;
}

.video-card img {
    transition: transform 0.4s ease;
}

.video-card:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
    transition: background 0.3s ease;
}

/* .play-btn {
        background: rgba(0, 0, 0, 0.4);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
        transition: background 0.3s ease;
    }

    .video-card:hover .play-btn {
        background: rgba(0, 0, 0, 0.7);
    } */

.video-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
}

.avatar {
    width: 40px;
    height: 40px;
    border: 2px solid white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 15px;
    background-size: 60% 60%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

/* Smooth animation when switching */
.carousel-item {
    transition: transform 0.8s ease-in-out;
}

@media (max-width: 576px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}